SERVER_PORT=8080
ENV=development
DB_URL=postgres://user:pass@localhost:5432/zenko?sslmode=disable
REDIS_URL=redis://localhost:6379/0
JWT_SECRET=85d6d58d73134a24
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=720h
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
FCM_SERVER_KEY=
APP_NAME=Zenko
ALLOWED_ORIGINS=*
